/* ------------------------------------------------------------------------------ */
/* ------------------------------- Radio Button with Images -------------------------------------- */
/* ------------------------------------------------------------------------------ */
label{
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}
/* HIDE RADIO */
.radiobtn { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Radio + Image style */
.radiobtn + img {
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px lightgrey;
}

/* CHECKED STYLES */
.radiobtn:checked + img {
  border-radius: 5px;
  outline: 3px solid goldenrod;
}
/* End of radio */

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Check Box with Images -------------------------------------- */
/* ------------------------------------------------------------------------------ */
/* HIDE RADIO */
.chkbox { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.chkbox + img {
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px lightgrey;
}

/* CHECKED STYLES */
.chkbox:checked + img {
  border-radius: 5px;
  outline: 3px solid goldenrod;
}
/* end of checkbox */

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Custome Select -------------------------------------- */
/* ------------------------------------------------------------------------------ */

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Multistepp Box -------------------------------------- */
/* ------------------------------------------------------------------------------ */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 0px);
background: linear-gradient(90deg,pink,lightblue);
z-index: 99;
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
z-index: 99;
}
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Card background color -------------------------------------- */
/* ------------------------------------------------------------------------------ */
.card{
  background: linear-gradient(90deg,pink,lightblue);
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Otp input type -------------------------------------- */
/* ------------------------------------------------------------------------------ */
.digit-group input {
  width: 50px;
  height: 50px;
  background-color: rgb(153, 153, 28);
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: white;
  margin: 0 2px;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Counter -------------------------------------- */
/* ------------------------------------------------------------------------------ */
.section {
  position: relative;
  
}
/* section */
.gray-bg {
  /* background: linear-gradient(90deg,pink,lightblue); */
  background-color: #fff;
}

.about-section .counter {
  position:relative;
  overflow:hidden;
  border:none;
  background: linear-gradient(135deg,pink,lightblue);
  padding: 22px 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.about-section .counter:before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#E1BEE7;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.about-section .counter:after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#c0392b;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.about-section .counter:hover::after{
  transform:scaleY(1);
}


.about-section .counter .count {
font-weight: 700;
color: #20247b;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}


/* ------------------------------------------------------------------------------ */
/* ------------------------------- My Preloader -------------------------------------- */
/* ------------------------------------------------------------------------------ */
#preloader{
  position:fixed;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  overflow: hidden;
}

/* Loading text */
#preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none;
  margin-top: 320px;
}
#preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: orange;
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
#preloader .txt-loading .characters {
	color: rgba(0, 0, 0, 0.2);	position: relative;
}
#preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
#preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
#preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
#preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
#preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
#preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
#preloader .txt-loading .characters:nth-child(8):before {
  animation-delay: 1.4s;
}
#preloader .txt-loading .characters:nth-child(9):before {
  animation-delay: 1.6s;
}
#preloader .txt-loading .characters:nth-child(10):before {
  animation-delay: 1.8s;
}
#preloader .txt-loading .characters:nth-child(11):before {
  animation-delay: 2s;
}
#preloader .txt-loading .characters:nth-child(12):before {
  animation-delay: 2.2s;
}
#preloader .txt-loading .characters:nth-child(13):before {
  animation-delay: 2.4s;
}
#preloader .txt-loading .characters:nth-child(14):before {
  animation-delay: 2.6s;
}

/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Text Loading */
  #preloader.txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/*Loading text */
	#preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Scroll to Top Button -------------------------------------- */
/* ------------------------------------------------------------------------------ */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index:99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
  border-radius: 100%;
  border: 1px solid #c0392b;
}
#myBtn:hover{
  background-color: #c0392b;
  color: #fff;
}



/* ------------------------------------------------------------------------------ */
/* ------------------------------- Iframe Button Toggler -------------------------------------- */
/* ------------------------------------------------------------------------------ */
button:focus{
  outline:none !important;
}

button.app-button {
  z-index: 99;
  position:fixed;bottom:2%;right:15%;padding:15px;
  border: 1px solid #000;
  border-radius: 25px;
}


/* ------------------------------------------------------------------------------ */
/* ------------------------------- Profile -------------------------------------- */
/* ------------------------------------------------------------------------------ */

.card{
  border:none;
  position:relative;
  overflow:hidden;
  border-radius:8px;
  cursor:pointer;
}

.card:before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#E1BEE7;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#c0392b;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:hover::after{
  transform:scaleY(1);
}


.fonts{
  font-size:11px;
}

.buttons button:nth-child(1){
     border:1px solid #8E24AA !important;
     color:#c0392b;
     height:40px;
}

.buttons button:nth-child(1):hover{
     border:1px solid #8E24AA !important;
     color:#fff;
     height:40px;
     background-color:#c0392b;
}

/* .buttons button:nth-child(2){
     border:1px solid #8E24AA !important;
     background-color:#8E24AA;
     color:#fff;
      height:40px;
} */
